*{
    margin: 0;
    padding: 0;
    text-decoration: none;


}
.container{

    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 30px;

}
.container.add-product{
    /* max-height: 30px !important;*/
}
.add-product{
    margin-top: 40px;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5% ;
    grid-gap: 20px;

}
.form-add{
    position: relative;
    border-radius: 10px;
    border: #999999 solid;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;


}
.input-pro input ,#pro-cars ,#pro-type , button{

    margin:7px 5% ;
    width: 90%;
    border-radius: 5px;
    height: 35px;
    text-indent: 10px;

}

#pro-cars , #pro-type{
    margin-bottom: 10px;
}
.input-pro.btn-pr     {
    width: 50%;
    margin:10px 25% ;
}
.title{
    text-align: center;
}
.name-pro{
    text-align: right;
    font-size: 25px;
    color: #222222;
    font-weight: bold;
}
.search{
    margin: 40px 0;
}
.name-search input{
    text-indent: 5px;
    border-radius: 10px;
}
.name-search{
    text-align: center;
}
.select-type select{
    width: 50%;
    height: 80%;
    text-align: left;
    border-radius: 10px;
    font-size: 20px;
}
button {
    text-transform: none;
    width: 90%;
    margin: 7PX 5%;
}


<!--Product EDit-->


